.PaginationContainer {
  margin-top: 10px;
}

.Pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  list-style: none;
  font-size: 14px;
  background-color: #5a4040;
  border-radius: 10px;
}

.TableRow {
  cursor: pointer;
  font-size: 80%;
}

.Pagination a:link,
.Pagination a:visited {
  text-decoration: none;
  color: #fff;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
  transition: color 0.2s;
  padding: 10px;
}

.Pagination li:hover {
  background-color: #bba96b;
  animation: popup 0.7s;
  border-radius: 2%;
  padding: 10px;
}

.Active {
  background-color: #bba96b;
  border-radius: 2%;
  padding: 10px;
  color: #fff;
  font-weight: bold;
}

.ActiveLink {
  color: #fff;
}

.Pagination a:hover,
.Pagination a:active {
  text-decoration: none;
  color: #fff;
}

@keyframes popup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
}

@media only screen and (min-width: 1200px) {
  .TableRow {
    font-size: 100%;
  }
}
