.Container {
  text-align: center;
  padding: 35px;
  line-height: 200%;
  width: 100%;
  font-size: 16px;
}

.Card {
  max-height: 70vh;
  overflow: auto;
}

.Title {
  font-size: 1.5em;
  margin-top: 10px;
}

.Heading {
  margin: 20px 0;
}

.Container a {
  text-decoration: none;
  font-size: 22px;
  color: rgb(187, 186, 186);
}

.Year,
.College,
.Skills {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  font-size: 80%;
  color: grey;
}
.Year p,
.Skills p {
  margin-bottom: 0;
  color: #214151;
}

.List {
  padding: 0;
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2px;
  list-style: none;
}

.ListItem {
  background-color: #eff7e1;
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
}

.ListItem:hover {
  background-color: #f3f3;
  color: black;
}

.Icons {
  color: black;
  font-size: 20px;
  margin-right: 10px;
}

@media (max-width: 800px) {
  .List {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 500px) {
  .List {
    grid-template-columns: 1fr;
  }
}
