.Dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 98%;
}

.DashboardItem {
  height: 50vh;
  width: 48%;
  margin-bottom: 2%;
  background-color: #eaeaea;
  padding: 10px;
}

.DashboardItem:nth-child(3n) {
  width: 100%;
}

@media (max-width: 768px) {
  .DashboardItem {
    width: 98%;
  }
}
